.hero-banner {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 5px -6px 20px rgba(0, 0, 0, 0.3);
  will-change: transform, opacity; // Hint for better performance
}