.marquee img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 200px;
  box-shadow: 5px -6px 20px rgba(0, 0, 0, 0.3);
  will-change: transform; /* Optimizing image animations */
}

.marquee-container {
  overflow: hidden; /* Prevent jitter */
  position: relative; /* Establish stacking context */
}

.marquee {
  display: flex;
  gap: 1em;
  margin-bottom: 2rem;
  will-change: transform; /* Optimizing marquee animations */
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0); /* Enable GPU acceleration */
}

.item .with-text {
  flex: 1.5;
}

.item h1 {
  text-transform: uppercase;
}

/* General scrolling properties */
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
